.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.button-group {
  margin-bottom: 20px;
}

.custom-button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.board {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.device-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.device-table th, .device-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.device-table th {
  background-color: #f4f4f4;
}

/* Style pour le composant ScanButton */
.scan-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
}

.scan-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scan-button:hover {
  background-color: #0056b3;
}

.racks-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rack-container {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #e9ecef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rack-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rack-info {
  font-size: 14px;
  color: #555;
}

.socket-list {
  list-style-type: none;
  padding-left: 0;
}

.socket-item {
  background-color: #f1f1f1;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
